---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
	<Hero title="404" tagline="Page Not found" />
	<div class="container h-[90vh] text-center">
		<p>Go back <a class="text-accentPurple" href="/">to the homepage</a></p>
	</div>
</BaseLayout>
