---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Melissa Arroyo" description="Learn about Melissa Arroyo's background, skills, and get in touch!">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Meet Melissa"
				tagline="Front End Developer with a Design & Marketing Background"
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait-50.jpg"
					alt="Melissa Arroyo at work"
				/>
			</Hero>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>You are on a mission to inspire change and empower your community. Does your online presence creatively reflect that? I work with members of the community and organizations who wish to delight and inform. From building compelling, user-friendly websites to designing impactful social media graphics.</p>
					<br>
					<p>I started my career as a digital marketing professional at a cybersecurity startup and switched to a career in front-end development in 2018. Today I am on a mission to help organizations and individuals promote positive social change online.</p>
					<br>
					<p>Let&apos;s discuss how to set up an online platform for your cause. 🚀</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<strong>The University of Kansas, '14</strong><br>
						<span>Bachelor of Science in Journalism, Strategic Communication</span>
					</p>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	main {
		padding: 5rem;
		background-color: theme('colors.white');
		border: 3px solid #efefef;
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}
    .HeroWrapper {
		&::after {
			margin: 0 auto !important;
		}
	}
	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: 30px;
		font-family: theme('fontFamily.condensed');
		color: theme('colors.white');
		background-color: theme('colors.accentPurple');
		padding: .5rem;
		height: fit-content;
	}

	.content {
		grid-column: 2 / 4;
		p {
			font-family: theme('fontFamily.sans');
		}
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
