---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Melissa Arroyo" description="Learn about Melissa Arroyo's background, skills, and get in touch!">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Meet Melissa"
				tagline="Front End Developer with a Design & Marketing Background"
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait-50.jpg"
					alt="Melissa Arroyo at work"
				/>
			</Hero>
			<section>
				<div class="content">
					<p>Building websites that promote positive change is my passion.</p>
					<p>In 2018, I switched careers from Digital Marketing and earned my certificate in web technologies, where I learned the foundations of Front-End Web Development.</p>
					<p>Eager to apply all my digital skills onto real-world projects, I joined incredible teams like <a class="text-accentPurple" href="https://kcwomenintech.org/" target="_blank">KC Women in Technology</a>, where I mentored women who were learning how to code and managed the organization&apos;s digital marketing for their Coding & Cocktails program.</p> 
					<p>I also volunteered for <a class="text-accentPurple" href="https://susanruizks.com/" target="_blank">Susan Ruiz for Kansas</a>, where I designed and built my first website and continued to contribute by designing print and digital materials that maintained visual consistency (I still help out to this day!).</p>
					<p>Since then, I have grown into my career as a Front End Developer with a knack for creating meaningful and strategic online experiences.</p>
					<p>From designing social media graphics, email templates, to building websites, I help my clients create content that resonates and inspires action.</p>
					<p>If positive change is part of your secret sauce for your next website project, let&apos;s talk!</p>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	main {
		padding: 5rem;
		background-color: theme('colors.white');
		border: 3px solid #efefef;
	}
	.wrapper {
		@media (min-width: 992px) {
			padding-top: 5rem;
		}
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}
    .HeroWrapper {
		&::after {
			margin: 0 auto !important;
		}
	}
	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
		@media (min-width: 768px) {
			width: 50%;
			margin: 0 auto;
		}
		@media (min-width: 992px) {
			width: 80%;
		}
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: 30px;
		font-family: theme('fontFamily.condensed');
		text-transform: uppercase;
		font-weight: 600;
		color: theme('colors.white');
		background-color: theme('colors.accentPurple');
		padding: .5rem;
		height: fit-content;
	}

	.content {
		grid-column: 2 / 3;
		p {
			font-family: theme('fontFamily.sans');
			font-size: 18px;
			margin-bottom: 15px;
		}
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
