---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

//Image Imports
import aboutPhoto1 from '../assets/about/about_kcwit_square.jpg';
import aboutPhoto2 from '../assets/about/about_kcwit2.jpg';
import aboutPhoto3 from '../assets/about/about_ruiz.jpg';
import headerPhoto from '../assets/portrait-50.jpg';

import ContactCTA from '../components/ContactCTA.astro';
import IntroSection from '../components/IntroSection.astro';
---

<BaseLayout title="About | Melissa Arroyo" description="Learn about Melissa Arroyo's background, skills, and get in touch!">
	<div class="about_page mt-[6rem] lg:mt-0">
		<IntroSection
			title="Meet Melissa"
			tagline="Front End Developer with a Design & Marketing Background"
			align="start"
			image={headerPhoto}
			imageAlt="Melissa Arroyo at work"
		/>
		<section>
			<div class="lg:w-7/12 PhotoCollage">
				<Image
					width="500"
					height="400"
					class="imgA"
					src={aboutPhoto1}
					alt="Melissa Arroyo with KCWIT Marketing Director"
				/>
				<Image
					width="500"
					height="400"
					class="imgB"
					src={aboutPhoto2}
					alt="Melissa Arroyo with Coding & Cocktails team"
				/>
			</div>
			<div class="lg:w-5/12 mt-[2rem] lg:mt-0">
				<p class="text-[23px] lg:text-[28px] font-light">Building websites that promote positive change became my passion.</p>
				<p>In 2018, I switched careers from Digital Marketing and earned my certificate in web technologies, where I learned the foundations of Front-End Web Development.</p>
				<p>Eager to apply all my digital skills onto real-world projects, I joined prominent teams like <a class="text-accentPurple" href="https://kcwomenintech.org/" target="_blank">KC Women in Technology</a>, where I mentored women who were learning how to code and managed the organization&apos;s digital marketing for their <a class="text-accentPurple" href="/work/illustrations/kcwomenintech">Coding & Cocktails program.</a></p> 
			</div>
		</section>
		<section>
			<div class="lg:w-6/12 flex justify-center">
				<p class="lg:w-[80%]">I also volunteered for <a class="text-accentPurple" href="https://susanruizks.com/" target="_blank">Susan Ruiz for Kansas</a>, where I designed and built my first website and continued to contribute by designing print and digital materials that maintained visual consistency (I still help out to this day!).</p>
			</div>
			<div class="lg:w-6/12 mt-[2rem] lg:mt-0">
				<Image
					width="500"
					height="400"
					class="mx-auto"
					src={aboutPhoto3}
					alt="Melissa Arroyo with Coding & Cocktails team"
				/>
			</div>
		</section>
		<section class="flex-col text-center">
			<div class="lg:w-[80%]">
				<p>Since then, I have grown into my career as a Front End Developer with a knack for creating meaningful and strategic online experiences. From making creative decisions to implementing technical solutions, I help create websites that resonate and inspire action.</p>
				<p>If making a lasting impression is a key ingredient for your next website project, <a class="text-accentPurple" href="mailto:hello@melarroyo.com">let&apos;s talk</a>!</p>
			</div>
		</section>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.PhotoCollage {
		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(6, 1fr);
			grid-column-gap: 10px;
			grid-row-gap: 10px;
			img {
				box-shadow: 3px 3px 10px rgb(145 145 145 / 58%);
			}
			.imgA {
				display: grid;
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 7;
			}
			.imgB {
				display: grid;
				grid-column-start: 3;
				grid-column-end: 5;
				grid-row-start: 3;
				grid-row-end: 7;
				position: relative;
				left: -3rem;
			}
		}
	}
	section {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		background-color: theme('colors.white');
		padding: 2rem;
		p {
			font-family: theme('fontFamily.sans');
			font-size: 18px;
			padding-bottom: 15px;
		}
		&:nth-child(odd) {
			background-color: theme('colors.neutral');
		}
		@media (min-width: 768px) {
			flex-direction: column;
		}
		@media (min-width: 992px) {
			flex-direction: row;
			padding: 3rem 5rem;
			height: auto;
		}
	}
</style>
