---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import IntroSection from '../components/IntroSection.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work'))
.filter(project => !project.data.draft)
.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="My Work | Melissa Arroyo"
	description="Learn about Melissa Arroyo's most recent projects in web design, development, and digital illustration"
>
	<div class="stack pt-[5rem] lg:pt-[1rem]">
		<main class="stack">
			<IntroSection
				title="My Work"
				tagline="Leveraging all of my skills and passions through web design and digital illustration."
				align="start"
				image="/assets/cta-bg-img.jpg"
				imageAlt="Picture of an open laptop and a capuccino on top of a white table"
			/>
			<div class="bg-[#fff] pb-[100px] lg:py-[100px]">
				<div class="wrapper">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>
			</div>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.heroImg {
	aspect-ratio: 16/9;
    object-fit: cover;
    @media (min-width: 992px) {
      aspect-ratio: 1/1;
    }
}
</style>
