---
import GalleryLightbox from "./GalleryLightbox.jsx";
import { galleryImgs } from "../../public/assets/GalleryImgs.js";

interface Props {
  featuredImgs: string;
}
const { featuredImgs } = Astro.props;

const selectedImgs = galleryImgs.filter(img => img.src.includes(featuredImgs));
---

<section class="ArtGallery">
  <GalleryLightbox images={selectedImgs} client:load />
</section>

<style>
  .ArtGallery {
    padding-top: 3rem;
  }
</style>