---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
	a {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		align-items: center;
		padding: 0.56em 2em;
		gap: 0.8em;
		color: theme('colors.white') !important;
		text-decoration: none;
		line-height: 0;
		border-radius: 999rem;
		overflow: hidden;
		background: theme('colors.accentPurple');
		box-shadow: var(--shadow-md);
		white-space: nowrap;
		font-family: theme('fontFamily.serif');
		letter-spacing: 1px;
		text-transform: capitalize;
		font-weight: 600;
		transition: 800ms;
	}
	a:hover {
		background-color: theme('colors.mainPurple');
		transition: 800ms;
	}

	@media (min-width: 20em) {
		a {
			font-size: 25px;
		}
	}

	@media (min-width: 50em) {
		a {
			padding: 1.125rem 2.5rem;
			font-size: var(--text-xl);
		}
	}
</style>
