---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<header class:list={['hero stack gap-4', align]}>
	<div class={align === 'start' ? 'HeroWrapper_Left' : 'HeroWrapper_Center'}>
		<h1 class="font-serif lg:text-[4rem] font-[800]">{title}</h1>
		{
		  tagline &&
		  <p class={`font-sans ${align === 'start' ? 'lg:w-[80%]' : ''}`}"font-sans">{tagline}</p>
		}
	</div>
	<slot />
</header>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}
	.HeroWrapper_Left {
		&::after {
			content: '';
			display: block;
			margin: 20px 0;
			width: 90px;
			height: 3px;
			background-color: theme('colors.accentPurple');
		}
	}
	.HeroWrapper_Center {
		&::after {
			content: '';
			display: block;
			margin: 20px auto;
			width: 90px;
			height: 3px;
			background-color: theme('colors.accentPurple');
		}
	}
	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
