<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: theme('colors.white');;
		border: 1px solid theme('colors.accentPurple');;
		background-color: theme('colors.accentPurple');
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
		font-family: theme('fontFamily.condensed');
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: .5px;
	}
</style>
